In [1]:
from models.base import Base, engine, SessionLocal
from models import Industry, Company, Person, UseCase
import os

In [2]:
# create dummy database
db = SessionLocal()
if os.path.exists('use_cases.db'):
    os.remove('use_cases.db')
Base.metadata.create_all(bind=engine)

2026-02-13 12:08:43,522 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 12:08:43,522 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("industries")
2026-02-13 12:08:43,523 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 12:08:43,523 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("industries")
2026-02-13 12:08:43,524 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 12:08:43,524 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("companies")
2026-02-13 12:08:43,524 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 12:08:43,525 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("companies")
2026-02-13 12:08:43,525 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 12:08:43,526 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("persons")
2026-02-13 12:08:43,526 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 12:08:43,526 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("persons")
2026-02-13 12:08:43,527 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 12:08:43,527 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("use_case_person")
2026-02-13 12:08:43,527 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 12:08:43,528 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("use_case_person")
2026-02-13 12:08:43,528 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 12:08:43,529 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("use_cases")
2026-02-13 12:08:43,530 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 12:08:43,530 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("use_cases")
2026-02-13 12:08:43,530 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 12:08:43,531 INFO sqlalchemy.engine.Engine
CREATE TABLE industries (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2026-02-13 12:08:43,532 INFO sqlalchemy.engine.Engine [no key 0.00042s] ()
2026-02-13 12:08:43,536 INFO sqlalchemy.engine.Engine
CREATE TABLE companies (
	id INTEGER NOT NULL,
	name VARCHAR(200) NOT NULL,
	industry_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(industry_id) REFERENCES industries (id)
)


2026-02-13 12:08:43,537 INFO sqlalchemy.engine.Engine [no key 0.00076s] ()
2026-02-13 12:08:43,541 INFO sqlalchemy.engine.Engine
CREATE TABLE persons (
	id INTEGER NOT NULL,
	name VARCHAR(200) NOT NULL,
	role VARCHAR(50) NOT NULL,
	company_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(company_id) REFERENCES companies (id)
)


2026-02-13 12:08:43,542 INFO sqlalchemy.engine.Engine [no key 0.00074s] ()
2026-02-13 12:08:43,546 INFO sqlalchemy.engine.Engine
CREATE TABLE use_cases (
	id INTEGER NOT NULL,
	title VARCHAR(250) NOT NULL,
	description TEXT,
	expected_benefit TEXT,
	status VARCHAR(100) NOT NULL,
	company_id INTEGER NOT NULL,
	industry_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(company_id) REFERENCES companies (id),
	FOREIGN KEY(industry_id) REFERENCES industries (id)
)


2026-02-13 12:08:43,547 INFO sqlalchemy.engine.Engine [no key 0.00073s] ()
2026-02-13 12:08:43,550 INFO sqlalchemy.engine.Engine
CREATE TABLE use_case_person (
	use_case_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	PRIMARY KEY (use_case_id, person_id),
	FOREIGN KEY(use_case_id) REFERENCES use_cases (id),
	FOREIGN KEY(person_id) REFERENCES persons (id)
)


2026-02-13 12:08:43,550 INFO sqlalchemy.engine.Engine [no key 0.00033s] ()
2026-02-13 12:08:43,553 INFO sqlalchemy.engine.Engine COMMIT

# Test Industry

In [3]:
# test creation of industry instance
industry_healthcare = Industry(name = 'Healthcare')
industry_it = Industry(name = 'IT')
industry_manufacturing = Industry(name = 'Manufacturing')

In [4]:
# add them to the database
db.add(industry_healthcare)
db.add(industry_it)
db.add(industry_manufacturing)

In [5]:
# save db
db.commit()

2026-02-13 12:08:44,166 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 12:08:44,168 INFO sqlalchemy.engine.Engine INSERT INTO industries (name) VALUES (?) RETURNING id
2026-02-13 12:08:44,169 INFO sqlalchemy.engine.Engine [generated in 0.00011s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Healthcare',)
2026-02-13 12:08:44,169 INFO sqlalchemy.engine.Engine INSERT INTO industries (name) VALUES (?) RETURNING id
2026-02-13 12:08:44,170 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('IT',)
2026-02-13 12:08:44,170 INFO sqlalchemy.engine.Engine INSERT INTO industries (name) VALUES (?) RETURNING id
2026-02-13 12:08:44,171 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Manufacturing',)
2026-02-13 12:08:44,171 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
# retreive data
industries = db.query(Industry)
for industry in industries:
    print(industry, industry.name, industry.id)

2026-02-13 12:08:44,324 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 12:08:44,326 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
2026-02-13 12:08:44,326 INFO sqlalchemy.engine.Engine [generated in 0.00049s] ()
<Industry(id=1, name='Healthcare')> Healthcare 1
<Industry(id=2, name='IT')> IT 2
<Industry(id=3, name='Manufacturing')> Manufacturing 3

# Test Company

In [7]:
# create some dummy companies

# (1) healthcare
company1_healthcare = Company(name = 'MediCare Solutions Inc.', industry_id = industry_healthcare.id)
company2_healthcare = Company(name = 'HealthFirst Medical Group', industry_id = industry_healthcare.id)
company3_healthcare = Company(name = 'CarePlus Health Services', industry_id = industry_healthcare.id)

# (2) IT
company1_it = Company(name = 'DataStream Systems', industry_id = industry_it.id)
company2_it = Company(name = 'TechVision Innovations', industry_id = industry_it.id)
company3_it = Company(name = 'ByteForge Solutions', industry_id = industry_it.id)

# (3) manufacturing
company1_manufacturing = Company(name = 'Precision Parts Industries', industry_id = industry_manufacturing.id)
company2_manufacturing = Company(name = 'Global Fabrication Systems', industry_id = industry_manufacturing.id)
company3_manufacturing = Company(name = 'Pioneer Industrial Products', industry_id = industry_manufacturing.id)

In [8]:
# add them to database
db.add_all([company1_healthcare, company2_healthcare, company3_healthcare, company1_it, company2_it, company3_it, company1_manufacturing, company2_manufacturing, company3_manufacturing])
db.commit()

2026-02-13 12:08:44,789 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 12:08:44,790 INFO sqlalchemy.engine.Engine [generated in 0.00008s (insertmanyvalues) 1/9 (ordered; batch not supported)] ('MediCare Solutions Inc.', 1)
2026-02-13 12:08:44,791 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 12:08:44,791 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/9 (ordered; batch not supported)] ('HealthFirst Medical Group', 1)
2026-02-13 12:08:44,792 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 12:08:44,792 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/9 (ordered; batch not supported)] ('CarePlus Health Services', 1)
2026-02-13 12:08:44,793 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 12:08:44,794 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/9 (ordered; batch not supported)] ('DataStream Systems', 2)
2026-02-13 12:08:44,794 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 12:08:44,795 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/9 (ordered; batch not supported)] ('TechVision Innovations', 2)
2026-02-13 12:08:44,795 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 12:08:44,795 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/9 (ordered; batch not supported)] ('ByteForge Solutions', 2)
2026-02-13 12:08:44,796 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 12:08:44,796 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/9 (ordered; batch not supported)] ('Precision Parts Industries', 3)
2026-02-13 12:08:44,796 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 12:08:44,796 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/9 (ordered; batch not supported)] ('Global Fabrication Systems', 3)
2026-02-13 12:08:44,797 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 12:08:44,797 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/9 (ordered; batch not supported)] ('Pioneer Industrial Products', 3)
2026-02-13 12:08:44,798 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
# test to retreive companies
for comp in db.query(Company):
    print(comp)
    print(comp.industry)

2026-02-13 12:08:44,947 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 12:08:44,948 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
2026-02-13 12:08:44,948 INFO sqlalchemy.engine.Engine [generated in 0.00055s] ()
<Company(id = 1, name = 'MediCare Solutions Inc.', industry_id = 1)>
2026-02-13 12:08:44,950 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 12:08:44,950 INFO sqlalchemy.engine.Engine [generated in 0.00047s] (1,)
<Industry(id=1, name='Healthcare')>
<Company(id = 2, name = 'HealthFirst Medical Group', industry_id = 1)>
<Industry(id=1, name='Healthcare')>
<Company(id = 3, name = 'CarePlus Health Services', industry_id = 1)>
<Industry(id=1, name='Healthcare')>
<Company(id = 4, name = 'DataStream Systems', industry_id = 2)>
2026-02-13 12:08:44,952 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 12:08:44,952 INFO sqlalchemy.engine.Engine [cached since 0.002282s ago] (2,)
<Industry(id=2, name='IT')>
<Company(id = 5, name = 'TechVision Innovations', industry_id = 2)>
<Industry(id=2, name='IT')>
<Company(id = 6, name = 'ByteForge Solutions', industry_id = 2)>
<Industry(id=2, name='IT')>
<Company(id = 7, name = 'Precision Parts Industries', industry_id = 3)>
2026-02-13 12:08:44,953 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 12:08:44,954 INFO sqlalchemy.engine.Engine [cached since 0.004027s ago] (3,)
<Industry(id=3, name='Manufacturing')>
<Company(id = 8, name = 'Global Fabrication Systems', industry_id = 3)>
<Industry(id=3, name='Manufacturing')>
<Company(id = 9, name = 'Pioneer Industrial Products', industry_id = 3)>
<Industry(id=3, name='Manufacturing')>

# Test Person

In [10]:
# creates some person smarties

# Healthcare Industry Persons
person1_comp1_hc = Person(name='Dr. Sarah Mitchell', role='Chief Medical Officer', company_id=company1_healthcare.id)
person2_comp1_hc = Person(name='Emily Chen', role='Head Nurse', company_id=company1_healthcare.id)
person3_comp2_hc = Person(name='James Peterson', role='Hospital Administrator', company_id=company2_healthcare.id)
person4_comp2_hc = Person(name='Dr. Robert Williams', role='Cardiology Specialist', company_id=company2_healthcare.id)
person5_comp3_hc = Person(name='Lisa Anderson', role='Pharmacy Director', company_id=company3_healthcare.id)

# Technology Industry Persons
person1_comp1_tech = Person(name='Michael Chang', role='Chief Technology Officer', company_id=company1_it.id)
person2_comp1_tech = Person(name='Jessica Taylor', role='Software Engineer', company_id=company1_it.id)
person3_comp2_tech = Person(name='David Kumar', role='Product Manager', company_id=company2_it.id)
person4_comp2_tech = Person(name='Amanda Rodriguez', role='UX Designer', company_id=company2_it.id)
person5_comp3_tech = Person(name='Kevin OBrien', role='DevOps Engineer', company_id=company3_it.id)

# Manufacturing Industry Persons
person1_comp1_mfg = Person(name='Thomas Baker', role='Operations Manager', company_id=company1_manufacturing.id)
person2_comp1_mfg = Person(name='Maria Gonzalez', role='Quality Control Supervisor', company_id=company1_manufacturing.id)
person3_comp2_mfg = Person(name='John Stevens', role='Production Engineer', company_id=company2_manufacturing.id)
person4_comp2_mfg = Person(name='Rachel Thompson', role='Supply Chain Manager', company_id=company2_manufacturing.id)
person5_comp3_mfg = Person(name='Daniel Lee', role='Plant Manager', company_id=company3_manufacturing.id)

In [11]:
db.add_all([
    # Healthcare persons
    person1_comp1_hc,
    person2_comp1_hc,
    person3_comp2_hc,
    person4_comp2_hc,
    person5_comp3_hc,
    # Technology persons
    person1_comp1_tech,
    person2_comp1_tech,
    person3_comp2_tech,
    person4_comp2_tech,
    person5_comp3_tech,
    # Manufacturing persons
    person1_comp1_mfg,
    person2_comp1_mfg,
    person3_comp2_mfg,
    person4_comp2_mfg,
    person5_comp3_mfg
])

In [12]:
db.commit()

2026-02-13 12:08:45,622 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,622 INFO sqlalchemy.engine.Engine [generated in 0.00008s (insertmanyvalues) 1/15 (ordered; batch not supported)] ('Dr. Sarah Mitchell', 'Chief Medical Officer', 1)
2026-02-13 12:08:45,623 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,624 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/15 (ordered; batch not supported)] ('Emily Chen', 'Head Nurse', 1)
2026-02-13 12:08:45,624 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,625 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/15 (ordered; batch not supported)] ('James Peterson', 'Hospital Administrator', 2)
2026-02-13 12:08:45,626 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,626 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/15 (ordered; batch not supported)] ('Dr. Robert Williams', 'Cardiology Specialist', 2)
2026-02-13 12:08:45,627 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,627 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/15 (ordered; batch not supported)] ('Lisa Anderson', 'Pharmacy Director', 3)
2026-02-13 12:08:45,628 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,628 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/15 (ordered; batch not supported)] ('Michael Chang', 'Chief Technology Officer', 4)
2026-02-13 12:08:45,629 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,629 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/15 (ordered; batch not supported)] ('Jessica Taylor', 'Software Engineer', 4)
2026-02-13 12:08:45,629 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,630 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/15 (ordered; batch not supported)] ('David Kumar', 'Product Manager', 5)
2026-02-13 12:08:45,630 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,630 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/15 (ordered; batch not supported)] ('Amanda Rodriguez', 'UX Designer', 5)
2026-02-13 12:08:45,631 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,631 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/15 (ordered; batch not supported)] ('Kevin OBrien', 'DevOps Engineer', 6)
2026-02-13 12:08:45,631 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,632 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/15 (ordered; batch not supported)] ('Thomas Baker', 'Operations Manager', 7)
2026-02-13 12:08:45,632 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,633 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/15 (ordered; batch not supported)] ('Maria Gonzalez', 'Quality Control Supervisor', 7)
2026-02-13 12:08:45,633 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,634 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/15 (ordered; batch not supported)] ('John Stevens', 'Production Engineer', 8)
2026-02-13 12:08:45,634 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,635 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/15 (ordered; batch not supported)] ('Rachel Thompson', 'Supply Chain Manager', 8)
2026-02-13 12:08:45,635 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 12:08:45,636 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/15 (ordered; batch not supported)] ('Daniel Lee', 'Plant Manager', 9)
2026-02-13 12:08:45,637 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
for person in db.query(Person):
    print(person, person.company, person.company.industry)
    print('###')

2026-02-13 12:08:45,803 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 12:08:45,804 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
2026-02-13 12:08:45,804 INFO sqlalchemy.engine.Engine [generated in 0.00045s] ()
2026-02-13 12:08:45,805 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:45,806 INFO sqlalchemy.engine.Engine [generated in 0.00053s] (1,)
2026-02-13 12:08:45,807 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 12:08:45,808 INFO sqlalchemy.engine.Engine [cached since 0.8579s ago] (1,)
<Person(id=1, name='Dr. Sarah Mitchell', role='Chief Medical Officer')> <Company(id = 1, name = 'MediCare Solutions Inc.', industry_id = 1)> <Industry(id=1, name='Healthcare')>
###
<Person(id=2, name='Emily Chen', role='Head Nurse')> <Company(id = 1, name = 'MediCare Solutions Inc.', industry_id = 1)> <Industry(id=1, name='Healthcare')>
###
2026-02-13 12:08:45,809 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:45,810 INFO sqlalchemy.engine.Engine [cached since 0.004226s ago] (2,)
<Person(id=3, name='James Peterson', role='Hospital Administrator')> <Company(id = 2, name = 'HealthFirst Medical Group', industry_id = 1)> <Industry(id=1, name='Healthcare')>
###
<Person(id=4, name='Dr. Robert Williams', role='Cardiology Specialist')> <Company(id = 2, name = 'HealthFirst Medical Group', industry_id = 1)> <Industry(id=1, name='Healthcare')>
###
2026-02-13 12:08:45,811 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:45,811 INFO sqlalchemy.engine.Engine [cached since 0.005982s ago] (3,)
<Person(id=5, name='Lisa Anderson', role='Pharmacy Director')> <Company(id = 3, name = 'CarePlus Health Services', industry_id = 1)> <Industry(id=1, name='Healthcare')>
###
2026-02-13 12:08:45,813 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:45,813 INFO sqlalchemy.engine.Engine [cached since 0.007587s ago] (4,)
2026-02-13 12:08:45,814 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 12:08:45,814 INFO sqlalchemy.engine.Engine [cached since 0.8643s ago] (2,)
<Person(id=6, name='Michael Chang', role='Chief Technology Officer')> <Company(id = 4, name = 'DataStream Systems', industry_id = 2)> <Industry(id=2, name='IT')>
###
<Person(id=7, name='Jessica Taylor', role='Software Engineer')> <Company(id = 4, name = 'DataStream Systems', industry_id = 2)> <Industry(id=2, name='IT')>
###
2026-02-13 12:08:45,815 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:45,816 INFO sqlalchemy.engine.Engine [cached since 0.0101s ago] (5,)
<Person(id=8, name='David Kumar', role='Product Manager')> <Company(id = 5, name = 'TechVision Innovations', industry_id = 2)> <Industry(id=2, name='IT')>
###
<Person(id=9, name='Amanda Rodriguez', role='UX Designer')> <Company(id = 5, name = 'TechVision Innovations', industry_id = 2)> <Industry(id=2, name='IT')>
###
2026-02-13 12:08:45,817 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:45,817 INFO sqlalchemy.engine.Engine [cached since 0.01199s ago] (6,)
<Person(id=10, name='Kevin OBrien', role='DevOps Engineer')> <Company(id = 6, name = 'ByteForge Solutions', industry_id = 2)> <Industry(id=2, name='IT')>
###
2026-02-13 12:08:45,818 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:45,819 INFO sqlalchemy.engine.Engine [cached since 0.01346s ago] (7,)
2026-02-13 12:08:45,820 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 12:08:45,820 INFO sqlalchemy.engine.Engine [cached since 0.8701s ago] (3,)
<Person(id=11, name='Thomas Baker', role='Operations Manager')> <Company(id = 7, name = 'Precision Parts Industries', industry_id = 3)> <Industry(id=3, name='Manufacturing')>
###
<Person(id=12, name='Maria Gonzalez', role='Quality Control Supervisor')> <Company(id = 7, name = 'Precision Parts Industries', industry_id = 3)> <Industry(id=3, name='Manufacturing')>
###
2026-02-13 12:08:45,821 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:45,821 INFO sqlalchemy.engine.Engine [cached since 0.01579s ago] (8,)
<Person(id=13, name='John Stevens', role='Production Engineer')> <Company(id = 8, name = 'Global Fabrication Systems', industry_id = 3)> <Industry(id=3, name='Manufacturing')>
###
<Person(id=14, name='Rachel Thompson', role='Supply Chain Manager')> <Company(id = 8, name = 'Global Fabrication Systems', industry_id = 3)> <Industry(id=3, name='Manufacturing')>
###
2026-02-13 12:08:45,822 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:45,822 INFO sqlalchemy.engine.Engine [cached since 0.01703s ago] (9,)
<Person(id=15, name='Daniel Lee', role='Plant Manager')> <Company(id = 9, name = 'Pioneer Industrial Products', industry_id = 3)> <Industry(id=3, name='Manufacturing')>
###

# Test Use Cases

In [14]:
# create some dummy use cases
usecase1_hc  = UseCase(
    title = 'Patient protal',
    description = 'Protal online for patients',
    expected_benefit = 'Better patient administration',
    status = 'new',
    company_id = company1_healthcare.id,
    industry_id = industry_healthcare.id 
)

usecase2_hc = UseCase(
    title='AI Diagnostics',
    description='ML for medical imaging',
    expected_benefit='Faster diagnosis',
    status='in_progress',
    company_id=company2_healthcare.id,
    industry_id=industry_healthcare.id
)

usecase3_hc = UseCase(
    title='EHR Migration',
    description='Move to modern EHR system',
    expected_benefit='Streamlined data access',
    status='completed',
    company_id=company3_healthcare.id,
    industry_id=industry_healthcare.id
)

# Technology Use Cases
usecase1_tech = UseCase(
    title='Cloud Migration',
    description='Move to AWS cloud',
    expected_benefit='Reduced costs',
    status='new',
    company_id=company1_it.id,
    industry_id=industry_it.id
)

usecase2_tech = UseCase(
    title='Mobile App Dev',
    description='iOS and Android apps',
    expected_benefit='Increased engagement',
    status='in_progress',
    company_id=company2_it.id,
    industry_id=industry_it.id
)

usecase3_tech = UseCase(
    title='Cybersecurity Program',
    description='Enhanced security measures',
    expected_benefit='Reduced risks',
    status='new',
    company_id=company3_it.id,
    industry_id=industry_it.id
)

# Manufacturing Use Cases
usecase1_mfg = UseCase(
    title='IoT Sensors',
    description='Real-time equipment monitoring',
    expected_benefit='Reduced downtime',
    status='in_progress',
    company_id=company1_manufacturing.id,
    industry_id=industry_manufacturing.id
)

usecase2_mfg = UseCase(
    title='Supply Chain Optimization',
    description='Automated inventory system',
    expected_benefit='Lower inventory costs',
    status='new',
    company_id=company2_manufacturing.id,
    industry_id=industry_manufacturing.id
)

usecase3_mfg = UseCase(
    title='Quality Control Automation',
    description='Computer vision defect detection',
    expected_benefit='Improved quality',
    status='completed',
    company_id=company3_manufacturing.id,
    industry_id=industry_manufacturing.id
)

In [15]:
# add them to database
db.add_all([
    usecase1_hc, usecase2_hc, usecase3_hc,
    usecase1_tech, usecase2_tech, usecase3_tech,
    usecase1_mfg, usecase2_mfg, usecase3_mfg
])

In [16]:
# and commit
db.commit()

2026-02-13 12:08:46,441 INFO sqlalchemy.engine.Engine INSERT INTO use_cases (title, description, expected_benefit, status, company_id, industry_id) VALUES (?, ?, ?, ?, ?, ?) RETURNING id
2026-02-13 12:08:46,442 INFO sqlalchemy.engine.Engine [generated in 0.00010s (insertmanyvalues) 1/9 (ordered; batch not supported)] ('Patient protal', 'Protal online for patients', 'Better patient administration', 'new', 1, 1)
2026-02-13 12:08:46,443 INFO sqlalchemy.engine.Engine INSERT INTO use_cases (title, description, expected_benefit, status, company_id, industry_id) VALUES (?, ?, ?, ?, ?, ?) RETURNING id
2026-02-13 12:08:46,444 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/9 (ordered; batch not supported)] ('AI Diagnostics', 'ML for medical imaging', 'Faster diagnosis', 'in_progress', 2, 1)
2026-02-13 12:08:46,444 INFO sqlalchemy.engine.Engine INSERT INTO use_cases (title, description, expected_benefit, status, company_id, industry_id) VALUES (?, ?, ?, ?, ?, ?) RETURNING id
2026-02-13 12:08:46,445 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/9 (ordered; batch not supported)] ('EHR Migration', 'Move to modern EHR system', 'Streamlined data access', 'completed', 3, 1)
2026-02-13 12:08:46,446 INFO sqlalchemy.engine.Engine INSERT INTO use_cases (title, description, expected_benefit, status, company_id, industry_id) VALUES (?, ?, ?, ?, ?, ?) RETURNING id
2026-02-13 12:08:46,446 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/9 (ordered; batch not supported)] ('Cloud Migration', 'Move to AWS cloud', 'Reduced costs', 'new', 4, 2)
2026-02-13 12:08:46,447 INFO sqlalchemy.engine.Engine INSERT INTO use_cases (title, description, expected_benefit, status, company_id, industry_id) VALUES (?, ?, ?, ?, ?, ?) RETURNING id
2026-02-13 12:08:46,447 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/9 (ordered; batch not supported)] ('Mobile App Dev', 'iOS and Android apps', 'Increased engagement', 'in_progress', 5, 2)
2026-02-13 12:08:46,448 INFO sqlalchemy.engine.Engine INSERT INTO use_cases (title, description, expected_benefit, status, company_id, industry_id) VALUES (?, ?, ?, ?, ?, ?) RETURNING id
2026-02-13 12:08:46,448 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/9 (ordered; batch not supported)] ('Cybersecurity Program', 'Enhanced security measures', 'Reduced risks', 'new', 6, 2)
2026-02-13 12:08:46,448 INFO sqlalchemy.engine.Engine INSERT INTO use_cases (title, description, expected_benefit, status, company_id, industry_id) VALUES (?, ?, ?, ?, ?, ?) RETURNING id
2026-02-13 12:08:46,449 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/9 (ordered; batch not supported)] ('IoT Sensors', 'Real-time equipment monitoring', 'Reduced downtime', 'in_progress', 7, 3)
2026-02-13 12:08:46,449 INFO sqlalchemy.engine.Engine INSERT INTO use_cases (title, description, expected_benefit, status, company_id, industry_id) VALUES (?, ?, ?, ?, ?, ?) RETURNING id
2026-02-13 12:08:46,450 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/9 (ordered; batch not supported)] ('Supply Chain Optimization', 'Automated inventory system', 'Lower inventory costs', 'new', 8, 3)
2026-02-13 12:08:46,450 INFO sqlalchemy.engine.Engine INSERT INTO use_cases (title, description, expected_benefit, status, company_id, industry_id) VALUES (?, ?, ?, ?, ?, ?) RETURNING id
2026-02-13 12:08:46,451 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/9 (ordered; batch not supported)] ('Quality Control Automation', 'Computer vision defect detection', 'Improved quality', 'completed', 9, 3)
2026-02-13 12:08:46,452 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
for use_case in db.query(UseCase):
    print()
    print('####')
    print(use_case)
    print(use_case.industry, use_case.company, use_case.persons)

2026-02-13 12:08:46,603 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 12:08:46,605 INFO sqlalchemy.engine.Engine SELECT use_cases.id AS use_cases_id, use_cases.title AS use_cases_title, use_cases.description AS use_cases_description, use_cases.expected_benefit AS use_cases_expected_benefit, use_cases.status AS use_cases_status, use_cases.company_id AS use_cases_company_id, use_cases.industry_id AS use_cases_industry_id
FROM use_cases
2026-02-13 12:08:46,606 INFO sqlalchemy.engine.Engine [generated in 0.00093s] ()

####
<UseCase(id=1, title='Patient protal', status='new', company_id=1)>
2026-02-13 12:08:46,607 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 12:08:46,607 INFO sqlalchemy.engine.Engine [cached since 1.658s ago] (1,)
2026-02-13 12:08:46,608 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:46,609 INFO sqlalchemy.engine.Engine [cached since 0.8034s ago] (1,)
2026-02-13 12:08:46,610 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons, use_case_person
WHERE ? = use_case_person.use_case_id AND persons.id = use_case_person.person_id
2026-02-13 12:08:46,611 INFO sqlalchemy.engine.Engine [generated in 0.00058s] (1,)
<Industry(id=1, name='Healthcare')> <Company(id = 1, name = 'MediCare Solutions Inc.', industry_id = 1)> []

####
<UseCase(id=2, title='AI Diagnostics', status='in_progress', company_id=2)>
2026-02-13 12:08:46,612 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:46,613 INFO sqlalchemy.engine.Engine [cached since 0.8075s ago] (2,)
2026-02-13 12:08:46,614 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons, use_case_person
WHERE ? = use_case_person.use_case_id AND persons.id = use_case_person.person_id
2026-02-13 12:08:46,614 INFO sqlalchemy.engine.Engine [cached since 0.00384s ago] (2,)
<Industry(id=1, name='Healthcare')> <Company(id = 2, name = 'HealthFirst Medical Group', industry_id = 1)> []

####
<UseCase(id=3, title='EHR Migration', status='completed', company_id=3)>
2026-02-13 12:08:46,615 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:46,616 INFO sqlalchemy.engine.Engine [cached since 0.8102s ago] (3,)
2026-02-13 12:08:46,616 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons, use_case_person
WHERE ? = use_case_person.use_case_id AND persons.id = use_case_person.person_id
2026-02-13 12:08:46,617 INFO sqlalchemy.engine.Engine [cached since 0.006362s ago] (3,)
<Industry(id=1, name='Healthcare')> <Company(id = 3, name = 'CarePlus Health Services', industry_id = 1)> []

####
<UseCase(id=4, title='Cloud Migration', status='new', company_id=4)>
2026-02-13 12:08:46,618 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 12:08:46,618 INFO sqlalchemy.engine.Engine [cached since 1.668s ago] (2,)
2026-02-13 12:08:46,619 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:46,619 INFO sqlalchemy.engine.Engine [cached since 0.8137s ago] (4,)
2026-02-13 12:08:46,620 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons, use_case_person
WHERE ? = use_case_person.use_case_id AND persons.id = use_case_person.person_id
2026-02-13 12:08:46,621 INFO sqlalchemy.engine.Engine [cached since 0.01063s ago] (4,)
<Industry(id=2, name='IT')> <Company(id = 4, name = 'DataStream Systems', industry_id = 2)> []

####
<UseCase(id=5, title='Mobile App Dev', status='in_progress', company_id=5)>
2026-02-13 12:08:46,622 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:46,622 INFO sqlalchemy.engine.Engine [cached since 0.817s ago] (5,)
2026-02-13 12:08:46,623 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons, use_case_person
WHERE ? = use_case_person.use_case_id AND persons.id = use_case_person.person_id
2026-02-13 12:08:46,624 INFO sqlalchemy.engine.Engine [cached since 0.01365s ago] (5,)
<Industry(id=2, name='IT')> <Company(id = 5, name = 'TechVision Innovations', industry_id = 2)> []

####
<UseCase(id=6, title='Cybersecurity Program', status='new', company_id=6)>
2026-02-13 12:08:46,625 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:46,626 INFO sqlalchemy.engine.Engine [cached since 0.8202s ago] (6,)
2026-02-13 12:08:46,626 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons, use_case_person
WHERE ? = use_case_person.use_case_id AND persons.id = use_case_person.person_id
2026-02-13 12:08:46,627 INFO sqlalchemy.engine.Engine [cached since 0.0165s ago] (6,)
<Industry(id=2, name='IT')> <Company(id = 6, name = 'ByteForge Solutions', industry_id = 2)> []

####
<UseCase(id=7, title='IoT Sensors', status='in_progress', company_id=7)>
2026-02-13 12:08:46,628 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 12:08:46,628 INFO sqlalchemy.engine.Engine [cached since 1.678s ago] (3,)
2026-02-13 12:08:46,629 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:46,630 INFO sqlalchemy.engine.Engine [cached since 0.8243s ago] (7,)
2026-02-13 12:08:46,631 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons, use_case_person
WHERE ? = use_case_person.use_case_id AND persons.id = use_case_person.person_id
2026-02-13 12:08:46,632 INFO sqlalchemy.engine.Engine [cached since 0.02114s ago] (7,)
<Industry(id=3, name='Manufacturing')> <Company(id = 7, name = 'Precision Parts Industries', industry_id = 3)> []

####
<UseCase(id=8, title='Supply Chain Optimization', status='new', company_id=8)>
2026-02-13 12:08:46,633 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:46,634 INFO sqlalchemy.engine.Engine [cached since 0.8281s ago] (8,)
2026-02-13 12:08:46,635 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons, use_case_person
WHERE ? = use_case_person.use_case_id AND persons.id = use_case_person.person_id
2026-02-13 12:08:46,635 INFO sqlalchemy.engine.Engine [cached since 0.02475s ago] (8,)
<Industry(id=3, name='Manufacturing')> <Company(id = 8, name = 'Global Fabrication Systems', industry_id = 3)> []

####
<UseCase(id=9, title='Quality Control Automation', status='completed', company_id=9)>
2026-02-13 12:08:46,636 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
WHERE companies.id = ?
2026-02-13 12:08:46,636 INFO sqlalchemy.engine.Engine [cached since 0.831s ago] (9,)
2026-02-13 12:08:46,637 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons, use_case_person
WHERE ? = use_case_person.use_case_id AND persons.id = use_case_person.person_id
2026-02-13 12:08:46,638 INFO sqlalchemy.engine.Engine [cached since 0.02719s ago] (9,)
<Industry(id=3, name='Manufacturing')> <Company(id = 9, name = 'Pioneer Industrial Products', industry_id = 3)> []

In [18]:
# add persons to usecases
# Healthcare
usecase1_hc.persons.append(person1_comp1_hc)  # Dr. Sarah Mitchell
usecase1_hc.persons.append(person2_comp1_hc)  # Emily Chen

usecase2_hc.persons.append(person3_comp2_hc)  # James Peterson
usecase2_hc.persons.append(person4_comp2_hc)  # Dr. Robert Williams

usecase3_hc.persons.append(person5_comp3_hc)  # Lisa Anderson

# Technology
usecase1_tech.persons.append(person1_comp1_tech)  # Michael Chang
usecase1_tech.persons.append(person2_comp1_tech)  # Jessica Taylor

usecase2_tech.persons.append(person3_comp2_tech)  # David Kumar
usecase2_tech.persons.append(person4_comp2_tech)  # Amanda Rodriguez

usecase3_tech.persons.append(person5_comp3_tech)  # Kevin O'Brien

# Manufacturing
usecase1_mfg.persons.append(person1_comp1_mfg)  # Thomas Baker
usecase1_mfg.persons.append(person2_comp1_mfg)  # Maria Gonzalez

usecase2_mfg.persons.append(person3_comp2_mfg)  # John Stevens
usecase2_mfg.persons.append(person4_comp2_mfg)  # Rachel Thompson

usecase3_mfg.persons.append(person5_comp3_mfg)  # Daniel Lee

In [19]:
for use_case in db.query(UseCase):
    print()
    print('####')
    print(use_case)
    print(use_case.industry, use_case.company, use_case.persons)

2026-02-13 12:08:46,932 INFO sqlalchemy.engine.Engine SELECT use_cases.id AS use_cases_id, use_cases.title AS use_cases_title, use_cases.description AS use_cases_description, use_cases.expected_benefit AS use_cases_expected_benefit, use_cases.status AS use_cases_status, use_cases.company_id AS use_cases_company_id, use_cases.industry_id AS use_cases_industry_id
FROM use_cases
2026-02-13 12:08:46,933 INFO sqlalchemy.engine.Engine [cached since 0.3284s ago] ()

####
<UseCase(id=1, title='Patient protal', status='new', company_id=1)>
<Industry(id=1, name='Healthcare')> <Company(id = 1, name = 'MediCare Solutions Inc.', industry_id = 1)> 2026-02-13 12:08:46,935 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,935 INFO sqlalchemy.engine.Engine [generated in 0.00038s] (1,)
2026-02-13 12:08:46,936 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,937 INFO sqlalchemy.engine.Engine [cached since 0.002047s ago] (2,)
[<Person(id=1, name='Dr. Sarah Mitchell', role='Chief Medical Officer')>, <Person(id=2, name='Emily Chen', role='Head Nurse')>]

####
<UseCase(id=2, title='AI Diagnostics', status='in_progress', company_id=2)>
<Industry(id=1, name='Healthcare')> <Company(id = 2, name = 'HealthFirst Medical Group', industry_id = 1)> 2026-02-13 12:08:46,938 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,938 INFO sqlalchemy.engine.Engine [cached since 0.003432s ago] (3,)
2026-02-13 12:08:46,939 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,939 INFO sqlalchemy.engine.Engine [cached since 0.004827s ago] (4,)
[<Person(id=3, name='James Peterson', role='Hospital Administrator')>, <Person(id=4, name='Dr. Robert Williams', role='Cardiology Specialist')>]

####
<UseCase(id=3, title='EHR Migration', status='completed', company_id=3)>
<Industry(id=1, name='Healthcare')> <Company(id = 3, name = 'CarePlus Health Services', industry_id = 1)> 2026-02-13 12:08:46,940 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,941 INFO sqlalchemy.engine.Engine [cached since 0.006105s ago] (5,)
[<Person(id=5, name='Lisa Anderson', role='Pharmacy Director')>]

####
<UseCase(id=4, title='Cloud Migration', status='new', company_id=4)>
<Industry(id=2, name='IT')> <Company(id = 4, name = 'DataStream Systems', industry_id = 2)> 2026-02-13 12:08:46,942 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,942 INFO sqlalchemy.engine.Engine [cached since 0.00739s ago] (6,)
2026-02-13 12:08:46,943 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,943 INFO sqlalchemy.engine.Engine [cached since 0.008513s ago] (7,)
[<Person(id=6, name='Michael Chang', role='Chief Technology Officer')>, <Person(id=7, name='Jessica Taylor', role='Software Engineer')>]

####
<UseCase(id=5, title='Mobile App Dev', status='in_progress', company_id=5)>
<Industry(id=2, name='IT')> <Company(id = 5, name = 'TechVision Innovations', industry_id = 2)> 2026-02-13 12:08:46,944 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,945 INFO sqlalchemy.engine.Engine [cached since 0.009963s ago] (8,)
2026-02-13 12:08:46,946 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,947 INFO sqlalchemy.engine.Engine [cached since 0.01194s ago] (9,)
[<Person(id=8, name='David Kumar', role='Product Manager')>, <Person(id=9, name='Amanda Rodriguez', role='UX Designer')>]

####
<UseCase(id=6, title='Cybersecurity Program', status='new', company_id=6)>
<Industry(id=2, name='IT')> <Company(id = 6, name = 'ByteForge Solutions', industry_id = 2)> 2026-02-13 12:08:46,948 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,948 INFO sqlalchemy.engine.Engine [cached since 0.01335s ago] (10,)
[<Person(id=10, name='Kevin OBrien', role='DevOps Engineer')>]

####
<UseCase(id=7, title='IoT Sensors', status='in_progress', company_id=7)>
<Industry(id=3, name='Manufacturing')> <Company(id = 7, name = 'Precision Parts Industries', industry_id = 3)> 2026-02-13 12:08:46,949 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,949 INFO sqlalchemy.engine.Engine [cached since 0.01478s ago] (11,)
2026-02-13 12:08:46,951 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,951 INFO sqlalchemy.engine.Engine [cached since 0.01657s ago] (12,)
[<Person(id=11, name='Thomas Baker', role='Operations Manager')>, <Person(id=12, name='Maria Gonzalez', role='Quality Control Supervisor')>]

####
<UseCase(id=8, title='Supply Chain Optimization', status='new', company_id=8)>
<Industry(id=3, name='Manufacturing')> <Company(id = 8, name = 'Global Fabrication Systems', industry_id = 3)> 2026-02-13 12:08:46,952 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,953 INFO sqlalchemy.engine.Engine [cached since 0.01804s ago] (13,)
2026-02-13 12:08:46,954 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,954 INFO sqlalchemy.engine.Engine [cached since 0.01951s ago] (14,)
[<Person(id=13, name='John Stevens', role='Production Engineer')>, <Person(id=14, name='Rachel Thompson', role='Supply Chain Manager')>]

####
<UseCase(id=9, title='Quality Control Automation', status='completed', company_id=9)>
<Industry(id=3, name='Manufacturing')> <Company(id = 9, name = 'Pioneer Industrial Products', industry_id = 3)> 2026-02-13 12:08:46,955 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
WHERE persons.id = ?
2026-02-13 12:08:46,955 INFO sqlalchemy.engine.Engine [cached since 0.02085s ago] (15,)
[<Person(id=15, name='Daniel Lee', role='Plant Manager')>]

In [20]:
db.close()

2026-02-13 12:08:47,115 INFO sqlalchemy.engine.Engine ROLLBACK

8