In [1]:
from models.base import Base, engine, SessionLocal
from models import Industry, Company, Person

In [2]:
# create dummy database
db = SessionLocal()
Base.metadata.create_all(bind=engine)

2026-02-13 11:02:19,602 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 11:02:19,603 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("industries")
2026-02-13 11:02:19,603 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 11:02:19,604 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("industries")
2026-02-13 11:02:19,604 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 11:02:19,605 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("companies")
2026-02-13 11:02:19,605 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 11:02:19,606 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("companies")
2026-02-13 11:02:19,606 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 11:02:19,607 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("persons")
2026-02-13 11:02:19,607 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 11:02:19,608 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("persons")
2026-02-13 11:02:19,609 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 11:02:19,609 INFO sqlalchemy.engine.Engine
CREATE TABLE industries (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2026-02-13 11:02:19,610 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2026-02-13 11:02:19,614 INFO sqlalchemy.engine.Engine
CREATE TABLE companies (
	id INTEGER NOT NULL,
	name VARCHAR(200) NOT NULL,
	industry_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(industry_id) REFERENCES industries (id)
)


2026-02-13 11:02:19,615 INFO sqlalchemy.engine.Engine [no key 0.00065s] ()
2026-02-13 11:02:19,619 INFO sqlalchemy.engine.Engine
CREATE TABLE persons (
	id INTEGER NOT NULL,
	name VARCHAR(200) NOT NULL,
	role VARCHAR(50) NOT NULL,
	company_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(company_id) REFERENCES companies (id)
)


2026-02-13 11:02:19,619 INFO sqlalchemy.engine.Engine [no key 0.00055s] ()
2026-02-13 11:02:19,622 INFO sqlalchemy.engine.Engine COMMIT

# Test Industry

In [3]:
# test creation of industry instance
industry_healthcare = Industry(name = 'Healthcare')
industry_it = Industry(name = 'IT')
industry_manufacturing = Industry(name = 'Manufacturing')

In [4]:
# add them to the database
db.add(industry_healthcare)
db.add(industry_it)
db.add(industry_manufacturing)

In [5]:
# save db
db.commit()

2026-02-13 11:02:19,644 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 11:02:19,646 INFO sqlalchemy.engine.Engine INSERT INTO industries (name) VALUES (?) RETURNING id
2026-02-13 11:02:19,646 INFO sqlalchemy.engine.Engine [generated in 0.00007s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Healthcare',)
2026-02-13 11:02:19,647 INFO sqlalchemy.engine.Engine INSERT INTO industries (name) VALUES (?) RETURNING id
2026-02-13 11:02:19,648 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('IT',)
2026-02-13 11:02:19,649 INFO sqlalchemy.engine.Engine INSERT INTO industries (name) VALUES (?) RETURNING id
2026-02-13 11:02:19,649 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Manufacturing',)
2026-02-13 11:02:19,650 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
# retreive data
industries = db.query(Industry)
for industry in industries:
    print(industry, industry.name, industry.id)

2026-02-13 11:02:19,657 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 11:02:19,659 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
2026-02-13 11:02:19,660 INFO sqlalchemy.engine.Engine [generated in 0.00061s] ()
<Industry(id=1, name='Healthcare')> Healthcare 1
<Industry(id=2, name='IT')> IT 2
<Industry(id=3, name='Manufacturing')> Manufacturing 3

# Test Company

In [7]:
# create some dummy companies

# (1) healthcare
company1_healthcare = Company(name = 'MediCare Solutions Inc.', industry_id = industry_healthcare.id)
company2_healthcare = Company(name = 'HealthFirst Medical Group', industry_id = industry_healthcare.id)
company3_healthcare = Company(name = 'CarePlus Health Services', industry_id = industry_healthcare.id)

# (2) IT
company1_it = Company(name = 'DataStream Systems', industry_id = industry_it.id)
company2_it = Company(name = 'TechVision Innovations', industry_id = industry_it.id)
company3_it = Company(name = 'ByteForge Solutions', industry_id = industry_it.id)

# (3) manufacturing
company1_manufacturing = Company(name = 'Precision Parts Industries', industry_id = industry_manufacturing.id)
company2_manufacturing = Company(name = 'Global Fabrication Systems', industry_id = industry_manufacturing.id)
company3_manufacturing = Company(name = 'Pioneer Industrial Products', industry_id = industry_manufacturing.id)

In [8]:
# add them to database
db.add_all([company1_healthcare, company2_healthcare, company3_healthcare, company1_it, company2_it, company3_it, company1_manufacturing, company2_manufacturing, company3_manufacturing])
db.commit()

2026-02-13 11:02:19,677 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 11:02:19,678 INFO sqlalchemy.engine.Engine [generated in 0.00009s (insertmanyvalues) 1/9 (ordered; batch not supported)] ('MediCare Solutions Inc.', 1)
2026-02-13 11:02:19,680 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 11:02:19,681 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/9 (ordered; batch not supported)] ('HealthFirst Medical Group', 1)
2026-02-13 11:02:19,682 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 11:02:19,683 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/9 (ordered; batch not supported)] ('CarePlus Health Services', 1)
2026-02-13 11:02:19,684 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 11:02:19,685 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/9 (ordered; batch not supported)] ('DataStream Systems', 2)
2026-02-13 11:02:19,685 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 11:02:19,686 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/9 (ordered; batch not supported)] ('TechVision Innovations', 2)
2026-02-13 11:02:19,686 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 11:02:19,687 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/9 (ordered; batch not supported)] ('ByteForge Solutions', 2)
2026-02-13 11:02:19,687 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 11:02:19,688 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/9 (ordered; batch not supported)] ('Precision Parts Industries', 3)
2026-02-13 11:02:19,688 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 11:02:19,688 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/9 (ordered; batch not supported)] ('Global Fabrication Systems', 3)
2026-02-13 11:02:19,689 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 11:02:19,689 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/9 (ordered; batch not supported)] ('Pioneer Industrial Products', 3)
2026-02-13 11:02:19,690 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
# test to retreive companies
for comp in db.query(Company):
    print(comp)
    print(comp.industry)

2026-02-13 11:02:19,701 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 11:02:19,702 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
2026-02-13 11:02:19,703 INFO sqlalchemy.engine.Engine [generated in 0.00093s] ()
<Company(id = 1, name = 'MediCare Solutions Inc.', industry_id = 1)>
2026-02-13 11:02:19,706 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 11:02:19,707 INFO sqlalchemy.engine.Engine [generated in 0.00091s] (1,)
<Industry(id=1, name='Healthcare')>
<Company(id = 2, name = 'HealthFirst Medical Group', industry_id = 1)>
<Industry(id=1, name='Healthcare')>
<Company(id = 3, name = 'CarePlus Health Services', industry_id = 1)>
<Industry(id=1, name='Healthcare')>
<Company(id = 4, name = 'DataStream Systems', industry_id = 2)>
2026-02-13 11:02:19,709 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 11:02:19,709 INFO sqlalchemy.engine.Engine [cached since 0.002695s ago] (2,)
<Industry(id=2, name='IT')>
<Company(id = 5, name = 'TechVision Innovations', industry_id = 2)>
<Industry(id=2, name='IT')>
<Company(id = 6, name = 'ByteForge Solutions', industry_id = 2)>
<Industry(id=2, name='IT')>
<Company(id = 7, name = 'Precision Parts Industries', industry_id = 3)>
2026-02-13 11:02:19,710 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 11:02:19,711 INFO sqlalchemy.engine.Engine [cached since 0.004487s ago] (3,)
<Industry(id=3, name='Manufacturing')>
<Company(id = 8, name = 'Global Fabrication Systems', industry_id = 3)>
<Industry(id=3, name='Manufacturing')>
<Company(id = 9, name = 'Pioneer Industrial Products', industry_id = 3)>
<Industry(id=3, name='Manufacturing')>

# Test Person

In [10]:
# creates some person smarties

# Healthcare Industry Persons
person1_comp1_hc = Person(name='Dr. Sarah Mitchell', role='Chief Medical Officer', company_id=company1_healthcare.id)
person2_comp1_hc = Person(name='Emily Chen', role='Head Nurse', company_id=company1_healthcare.id)
person3_comp2_hc = Person(name='James Peterson', role='Hospital Administrator', company_id=company2_healthcare.id)
person4_comp2_hc = Person(name='Dr. Robert Williams', role='Cardiology Specialist', company_id=company2_healthcare.id)
person5_comp3_hc = Person(name='Lisa Anderson', role='Pharmacy Director', company_id=company3_healthcare.id)

# Technology Industry Persons
person1_comp1_tech = Person(name='Michael Chang', role='Chief Technology Officer', company_id=company1_it.id)
person2_comp1_tech = Person(name='Jessica Taylor', role='Software Engineer', company_id=company1_it.id)
person3_comp2_tech = Person(name='David Kumar', role='Product Manager', company_id=company2_it.id)
person4_comp2_tech = Person(name='Amanda Rodriguez', role='UX Designer', company_id=company2_it.id)
person5_comp3_tech = Person(name='Kevin OBrien', role='DevOps Engineer', company_id=company3_it.id)

# Manufacturing Industry Persons
person1_comp1_mfg = Person(name='Thomas Baker', role='Operations Manager', company_id=company1_manufacturing.id)
person2_comp1_mfg = Person(name='Maria Gonzalez', role='Quality Control Supervisor', company_id=company1_manufacturing.id)
person3_comp2_mfg = Person(name='John Stevens', role='Production Engineer', company_id=company2_manufacturing.id)
person4_comp2_mfg = Person(name='Rachel Thompson', role='Supply Chain Manager', company_id=company2_manufacturing.id)
person5_comp3_mfg = Person(name='Daniel Lee', role='Plant Manager', company_id=company3_manufacturing.id)

In [11]:
db.add_all([
    # Healthcare persons
    person1_comp1_hc,
    person2_comp1_hc,
    person3_comp2_hc,
    person4_comp2_hc,
    person5_comp3_hc,
    # Technology persons
    person1_comp1_tech,
    person2_comp1_tech,
    person3_comp2_tech,
    person4_comp2_tech,
    person5_comp3_tech,
    # Manufacturing persons
    person1_comp1_mfg,
    person2_comp1_mfg,
    person3_comp2_mfg,
    person4_comp2_mfg,
    person5_comp3_mfg
])

In [12]:
db.commit()

2026-02-13 11:03:58,771 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,772 INFO sqlalchemy.engine.Engine [generated in 0.00009s (insertmanyvalues) 1/15 (ordered; batch not supported)] ('Dr. Sarah Mitchell', 'Chief Medical Officer', 1)
2026-02-13 11:03:58,773 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,773 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/15 (ordered; batch not supported)] ('Emily Chen', 'Head Nurse', 1)
2026-02-13 11:03:58,774 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,774 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/15 (ordered; batch not supported)] ('James Peterson', 'Hospital Administrator', 2)
2026-02-13 11:03:58,774 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,775 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/15 (ordered; batch not supported)] ('Dr. Robert Williams', 'Cardiology Specialist', 2)
2026-02-13 11:03:58,775 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,776 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/15 (ordered; batch not supported)] ('Lisa Anderson', 'Pharmacy Director', 3)
2026-02-13 11:03:58,776 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,777 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/15 (ordered; batch not supported)] ('Michael Chang', 'Chief Technology Officer', 4)
2026-02-13 11:03:58,777 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,778 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/15 (ordered; batch not supported)] ('Jessica Taylor', 'Software Engineer', 4)
2026-02-13 11:03:58,779 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,779 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/15 (ordered; batch not supported)] ('David Kumar', 'Product Manager', 5)
2026-02-13 11:03:58,779 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,780 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/15 (ordered; batch not supported)] ('Amanda Rodriguez', 'UX Designer', 5)
2026-02-13 11:03:58,780 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,781 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/15 (ordered; batch not supported)] ('Kevin OBrien', 'DevOps Engineer', 6)
2026-02-13 11:03:58,781 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,782 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/15 (ordered; batch not supported)] ('Thomas Baker', 'Operations Manager', 7)
2026-02-13 11:03:58,782 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,783 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/15 (ordered; batch not supported)] ('Maria Gonzalez', 'Quality Control Supervisor', 7)
2026-02-13 11:03:58,783 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,783 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/15 (ordered; batch not supported)] ('John Stevens', 'Production Engineer', 8)
2026-02-13 11:03:58,784 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,785 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/15 (ordered; batch not supported)] ('Rachel Thompson', 'Supply Chain Manager', 8)
2026-02-13 11:03:58,785 INFO sqlalchemy.engine.Engine INSERT INTO persons (name, role, company_id) VALUES (?, ?, ?) RETURNING id
2026-02-13 11:03:58,786 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/15 (ordered; batch not supported)] ('Daniel Lee', 'Plant Manager', 9)
2026-02-13 11:03:58,787 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
for person in db.query(Person):
    print(person, person.company, person.company.industry)
    print('###')

2026-02-13 11:05:11,220 INFO sqlalchemy.engine.Engine SELECT persons.id AS persons_id, persons.name AS persons_name, persons.role AS persons_role, persons.company_id AS persons_company_id
FROM persons
2026-02-13 11:05:11,220 INFO sqlalchemy.engine.Engine [cached since 32.59s ago] ()
2026-02-13 11:05:11,221 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 11:05:11,222 INFO sqlalchemy.engine.Engine [cached since 171.5s ago] (1,)
<Person(id=1, name='Dr. Sarah Mitchell', role='Chief Medical Officer')> <Company(id = 1, name = 'MediCare Solutions Inc.', industry_id = 1)> <Industry(id=1, name='Healthcare')>
###
<Person(id=2, name='Emily Chen', role='Head Nurse')> <Company(id = 1, name = 'MediCare Solutions Inc.', industry_id = 1)> <Industry(id=1, name='Healthcare')>
###
<Person(id=3, name='James Peterson', role='Hospital Administrator')> <Company(id = 2, name = 'HealthFirst Medical Group', industry_id = 1)> <Industry(id=1, name='Healthcare')>
###
<Person(id=4, name='Dr. Robert Williams', role='Cardiology Specialist')> <Company(id = 2, name = 'HealthFirst Medical Group', industry_id = 1)> <Industry(id=1, name='Healthcare')>
###
<Person(id=5, name='Lisa Anderson', role='Pharmacy Director')> <Company(id = 3, name = 'CarePlus Health Services', industry_id = 1)> <Industry(id=1, name='Healthcare')>
###
2026-02-13 11:05:11,223 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 11:05:11,223 INFO sqlalchemy.engine.Engine [cached since 171.5s ago] (2,)
<Person(id=6, name='Michael Chang', role='Chief Technology Officer')> <Company(id = 4, name = 'DataStream Systems', industry_id = 2)> <Industry(id=2, name='IT')>
###
<Person(id=7, name='Jessica Taylor', role='Software Engineer')> <Company(id = 4, name = 'DataStream Systems', industry_id = 2)> <Industry(id=2, name='IT')>
###
<Person(id=8, name='David Kumar', role='Product Manager')> <Company(id = 5, name = 'TechVision Innovations', industry_id = 2)> <Industry(id=2, name='IT')>
###
<Person(id=9, name='Amanda Rodriguez', role='UX Designer')> <Company(id = 5, name = 'TechVision Innovations', industry_id = 2)> <Industry(id=2, name='IT')>
###
<Person(id=10, name='Kevin OBrien', role='DevOps Engineer')> <Company(id = 6, name = 'ByteForge Solutions', industry_id = 2)> <Industry(id=2, name='IT')>
###
2026-02-13 11:05:11,224 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 11:05:11,225 INFO sqlalchemy.engine.Engine [cached since 171.5s ago] (3,)
<Person(id=11, name='Thomas Baker', role='Operations Manager')> <Company(id = 7, name = 'Precision Parts Industries', industry_id = 3)> <Industry(id=3, name='Manufacturing')>
###
<Person(id=12, name='Maria Gonzalez', role='Quality Control Supervisor')> <Company(id = 7, name = 'Precision Parts Industries', industry_id = 3)> <Industry(id=3, name='Manufacturing')>
###
<Person(id=13, name='John Stevens', role='Production Engineer')> <Company(id = 8, name = 'Global Fabrication Systems', industry_id = 3)> <Industry(id=3, name='Manufacturing')>
###
<Person(id=14, name='Rachel Thompson', role='Supply Chain Manager')> <Company(id = 8, name = 'Global Fabrication Systems', industry_id = 3)> <Industry(id=3, name='Manufacturing')>
###
<Person(id=15, name='Daniel Lee', role='Plant Manager')> <Company(id = 9, name = 'Pioneer Industrial Products', industry_id = 3)> <Industry(id=3, name='Manufacturing')>
###