In [1]:
from models.base import Base, engine, SessionLocal
from models import Industry, Company

In [2]:
# create dummy database
db = SessionLocal()
Base.metadata.create_all(bind=engine)

2026-02-13 10:30:49,017 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 10:30:49,018 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("industries")
2026-02-13 10:30:49,018 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 10:30:49,019 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("industries")
2026-02-13 10:30:49,020 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 10:30:49,020 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("companies")
2026-02-13 10:30:49,021 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 10:30:49,021 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("companies")
2026-02-13 10:30:49,022 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-02-13 10:30:49,022 INFO sqlalchemy.engine.Engine
CREATE TABLE industries (
	id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	UNIQUE (name)
)


2026-02-13 10:30:49,023 INFO sqlalchemy.engine.Engine [no key 0.00031s] ()
2026-02-13 10:30:49,027 INFO sqlalchemy.engine.Engine
CREATE TABLE companies (
	id INTEGER NOT NULL,
	name VARCHAR(200) NOT NULL,
	industry_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(industry_id) REFERENCES industries (id)
)


2026-02-13 10:30:49,028 INFO sqlalchemy.engine.Engine [no key 0.00061s] ()
2026-02-13 10:30:49,031 INFO sqlalchemy.engine.Engine COMMIT

# Test Industry

In [3]:
# test creation of industry instance
industry_healthcare = Industry(name = 'Healthcare')
industry_it = Industry(name = 'IT')
industry_manufacturing = Industry(name = 'Manufacturing')

In [4]:
# add them to the database
db.add(industry_healthcare)
db.add(industry_it)
db.add(industry_manufacturing)

In [5]:
# save db
db.commit()

2026-02-13 10:30:49,051 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 10:30:49,052 INFO sqlalchemy.engine.Engine INSERT INTO industries (name) VALUES (?) RETURNING id
2026-02-13 10:30:49,053 INFO sqlalchemy.engine.Engine [generated in 0.00009s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Healthcare',)
2026-02-13 10:30:49,054 INFO sqlalchemy.engine.Engine INSERT INTO industries (name) VALUES (?) RETURNING id
2026-02-13 10:30:49,055 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('IT',)
2026-02-13 10:30:49,055 INFO sqlalchemy.engine.Engine INSERT INTO industries (name) VALUES (?) RETURNING id
2026-02-13 10:30:49,056 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Manufacturing',)
2026-02-13 10:30:49,057 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
# retreive data
industries = db.query(Industry)
for industry in industries:
    print(industry, industry.name, industry.id)

2026-02-13 10:30:49,065 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 10:30:49,066 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
2026-02-13 10:30:49,067 INFO sqlalchemy.engine.Engine [generated in 0.00044s] ()
<Industry(id=1, name='Healthcare')> Healthcare 1
<Industry(id=2, name='IT')> IT 2
<Industry(id=3, name='Manufacturing')> Manufacturing 3

# Test Company

In [7]:
# create some dummy companies

# (1) healthcare
company1_healthcare = Company(name = 'MediCare Solutions Inc.', industry_id = industry_healthcare.id)
company2_healthcare = Company(name = 'HealthFirst Medical Group', industry_id = industry_healthcare.id)
company3_healthcare = Company(name = 'CarePlus Health Services', industry_id = industry_healthcare.id)

# (2) IT
company1_it = Company(name = 'DataStream Systems', industry_id = industry_it.id)
company2_it = Company(name = 'TechVision Innovations', industry_id = industry_it.id)
company3_it = Company(name = 'ByteForge Solutions', industry_id = industry_it.id)

# (3) manufacturing
company1_manufacturing = Company(name = 'Precision Parts Industries', industry_id = industry_manufacturing.id)
company2_manufacturing = Company(name = 'Global Fabrication Systems', industry_id = industry_manufacturing.id)
company3_manufacturing = Company(name = 'Pioneer Industrial Products', industry_id = industry_manufacturing.id)

In [8]:
# add them to database
db.add_all([company1_healthcare, company2_healthcare, company3_healthcare, company1_it, company2_it, company3_it, company1_manufacturing, company2_manufacturing, company3_manufacturing])
db.commit()

2026-02-13 10:30:49,079 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 10:30:49,080 INFO sqlalchemy.engine.Engine [generated in 0.00008s (insertmanyvalues) 1/9 (ordered; batch not supported)] ('MediCare Solutions Inc.', 1)
2026-02-13 10:30:49,081 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 10:30:49,082 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/9 (ordered; batch not supported)] ('HealthFirst Medical Group', 1)
2026-02-13 10:30:49,082 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 10:30:49,083 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/9 (ordered; batch not supported)] ('CarePlus Health Services', 1)
2026-02-13 10:30:49,083 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 10:30:49,084 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/9 (ordered; batch not supported)] ('DataStream Systems', 2)
2026-02-13 10:30:49,084 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 10:30:49,085 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/9 (ordered; batch not supported)] ('TechVision Innovations', 2)
2026-02-13 10:30:49,085 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 10:30:49,085 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/9 (ordered; batch not supported)] ('ByteForge Solutions', 2)
2026-02-13 10:30:49,086 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 10:30:49,086 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/9 (ordered; batch not supported)] ('Precision Parts Industries', 3)
2026-02-13 10:30:49,086 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 10:30:49,087 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/9 (ordered; batch not supported)] ('Global Fabrication Systems', 3)
2026-02-13 10:30:49,087 INFO sqlalchemy.engine.Engine INSERT INTO companies (name, industry_id) VALUES (?, ?) RETURNING id
2026-02-13 10:30:49,088 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/9 (ordered; batch not supported)] ('Pioneer Industrial Products', 3)
2026-02-13 10:30:49,088 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
# test to retreive companies
for comp in db.query(Company):
    print(comp)
    print(comp.industry)

2026-02-13 10:30:49,097 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-02-13 10:30:49,099 INFO sqlalchemy.engine.Engine SELECT companies.id AS companies_id, companies.name AS companies_name, companies.industry_id AS companies_industry_id
FROM companies
2026-02-13 10:30:49,100 INFO sqlalchemy.engine.Engine [generated in 0.00086s] ()
<Company(id = 1, name = 'MediCare Solutions Inc.', industry_id = 1)>
2026-02-13 10:30:49,103 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 10:30:49,103 INFO sqlalchemy.engine.Engine [generated in 0.00076s] (1,)
<Industry(id=1, name='Healthcare')>
<Company(id = 2, name = 'HealthFirst Medical Group', industry_id = 1)>
<Industry(id=1, name='Healthcare')>
<Company(id = 3, name = 'CarePlus Health Services', industry_id = 1)>
<Industry(id=1, name='Healthcare')>
<Company(id = 4, name = 'DataStream Systems', industry_id = 2)>
2026-02-13 10:30:49,106 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 10:30:49,106 INFO sqlalchemy.engine.Engine [cached since 0.003746s ago] (2,)
<Industry(id=2, name='IT')>
<Company(id = 5, name = 'TechVision Innovations', industry_id = 2)>
<Industry(id=2, name='IT')>
<Company(id = 6, name = 'ByteForge Solutions', industry_id = 2)>
<Industry(id=2, name='IT')>
<Company(id = 7, name = 'Precision Parts Industries', industry_id = 3)>
2026-02-13 10:30:49,108 INFO sqlalchemy.engine.Engine SELECT industries.id AS industries_id, industries.name AS industries_name
FROM industries
WHERE industries.id = ?
2026-02-13 10:30:49,108 INFO sqlalchemy.engine.Engine [cached since 0.005906s ago] (3,)
<Industry(id=3, name='Manufacturing')>
<Company(id = 8, name = 'Global Fabrication Systems', industry_id = 3)>
<Industry(id=3, name='Manufacturing')>
<Company(id = 9, name = 'Pioneer Industrial Products', industry_id = 3)>
<Industry(id=3, name='Manufacturing')>